body {
	display:flex;
	background: black;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	height: 100vh;
}

.main {
	justify-content: center;
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcarHeader {
	display: flex;
}
.postcarHeader img {
	justify-content: center;
	width: 50px;
	height: 50px;
	padding-top: 10px;
}
.postcarHeader h1 {
	justify-content: center;
	width: 80%;
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
}

.content {
	display: flex;
}
input {
	padding-top: 15px;
	font-size: 12px;
	border: none;
	border-bottom: 2px rgb(117, 116, 116) solid;
}
.left {
	padding: 8px;
}
.right {
	padding: 10px;
}
.topMargin {
	margin-top: 0;
}
.footer {
	padding-top: 10px;
	text-align: center;
}
button {
	background-color: grey;
	padding: 5px 10px;
	text-align: center;
}
